/* functions */
/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset */
body,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* Defaults */
.default {
  padding: 10px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/*Header*/
header {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.header-container {
  margin: auto;
}

.header-container .clinic-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-container .clinic-logo img {
  max-width: 120px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.header-container .clinic-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-container .clinic-name h3 {
  color: #4575bd;
}

/*--Navbar--*/
nav .navbar-toggler {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

/*--Home--*/
.home {
  height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.5)), to(rgba(40, 180, 133, 0.5))), url(/Images/jan-kopriva-nex3P5iBnPg-unsplash.jpg);
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.5), rgba(40, 180, 133, 0.5)), url(/Images/jan-kopriva-nex3P5iBnPg-unsplash.jpg);
  background-size: cover;
  background-repeat: none;
}

/* --Contact --*/
.contact-inside-box {
  color: #4575bd;
}

.phone-num {
  color: #4575bd;
}

/* --Navigation --*/
.navbar-brand {
  visibility: hidden;
}

/* --Buttons --*/
.btn {
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  background: transparent;
}

.btn:hover {
  color: #296246;
  background: #fff;
}

.btn-read {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem;
}

/* --About Page --*/
#more {
  display: none;
}

#more1 {
  display: none;
}

.about-heading {
  font-family: "Poppins", sans-serif;
}

.about-para {
  color: #434343;
}

/* --Mobile First Version --*/
@media only screen and (max-width: 480px) {
  header .clinic-logo img {
    max-width: 100px;
    width: 100%;
    border-radius: 50%;
  }
  header .contact {
    text-align: center;
    padding-top: 10px;
  }
  header .icons {
    margin-right: 14px;
    font-size: 1.4rem;
  }
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
  }
  #home .text-box {
    margin-bottom: 20px;
  }
  #home .text-main {
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 04px;
  }
  #home .btn-knw {
    padding: 1.2rem;
    text-transform: capitalize;
  }
  #home .btn-knw a {
    color: #094628;
  }
  .about-pic {
    text-align: center;
  }
  .about-heading {
    padding: 20px 0;
  }
  .about-info {
    padding: 30px 10px;
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
  }
  .about-pic img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
  }
  .line-break {
    padding: 10px 0;
  }
}

/* --Tablet Version --*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header .contact {
    text-align: center;
    padding-top: 10px;
  }
  .icons {
    margin-right: 14px;
    font-size: 1.8rem;
  }
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
  }
  #home .text-box {
    max-width: 90%;
  }
  #home .text-box .text-main {
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 04px;
  }
  #home .text-box .btn-knw {
    padding: 1.2rem;
    text-transform: capitalize;
  }
  #home .text-box .btn-knw:hover {
    color: #296246;
    background: #fff;
  }
  .about-pic {
    text-align: center;
  }
  .about-heading {
    padding: 20px 0;
  }
  .about-info {
    padding: 30px 10px;
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
  }
  .about-pic img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
  }
  .line-break {
    padding: 10px;
  }
}

/* --Laptop Version --*/
@media (min-width: 769px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .clinic-logo img {
    max-width: 180px;
  }
  .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icons {
    margin-right: 14px;
    font-size: 2rem;
  }
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
  }
  #home .text-box {
    max-width: 80%;
  }
  #home .text-box .text-main {
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-size: 2rem;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 04px;
  }
  #home .text-box .btn-knw {
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
  }
  #home .text-box .btn-knw:hover {
    color: #296246;
    background: #fff;
  }
  #about {
    max-width: 934px;
    text-align: center;
  }
  .about-heading {
    padding: 20px 0;
  }
  .about-info {
    padding: 30px 20px;
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
    text-align: left;
  }
  .about-pic img {
    max-width: 320px;
    width: 100%;
    max-height: 320px;
    border-radius: 10px;
    padding: 5px;
  }
  .line-break {
    padding: 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */