/* --About Page --*/

#more {
  display: none;
}

#more1 {
  display: none;
}

.about-para {
  color: #434343;
}

#about {
  background-image: url(/Images/about_bg_image.jpg);
  background-size: cover;
  background-repeat: none;
  font-family: var(--font-family-2);
}
.about-heading {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem 0;
}
.about {
  text-align: justify;
  font-weight: 400;
  font-size: 1.2rem;
}
.about-pic {
  text-align: center;
}

.about-info {
  padding: 1rem;
  letter-spacing: 0.4px;
}
.about-pic img {
  max-width: 200px;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.line-break {
  padding: 10px 0;
}
/* --Laptop Version --*/

@media (min-width: 768px) {
  .about-phani,
  .about-smriti {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* --Laptop Version --*/
