/* --About Page --*/

#more {
  display: none;
}

#more1 {
  display: none;
}
.about-heading {
  font-family: "Poppins", sans-serif;
}

.about-para {
  color: #434343;
}

#about {
  background-image: url(./Images/pawel-czerwinski-ZhcIxweGXXw-unsplash.jpg);
  background-size: cover;
  background-repeat: none;
}
/* --Mobile First Version --*/

@media only screen and (max-width: 480px) {
  .about-pic {
    text-align: center;
  }
  .about-heading {
    padding: 20px 0;
  }
  .about-info {
    padding: 30px 10px;
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
  }
  .about-pic img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
  }
  .line-break {
    padding: 10px 0;
  }
}
/* --Tablet Version --*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about-pic {
    text-align: center;
  }
  .about-heading {
    padding: 20px 0;
  }
  .about-info {
    padding: 30px 10px;
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
  }
  .about-pic img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
  }
  .line-break {
    padding: 10px;
  }
}

/* --Laptop Version --*/
@media (min-width: 769px) {
  .center {
    max-width: 934px;
    text-align: center;
  }

  .about-heading {
    padding: 20px 0;
  }
  .about-info {
    padding: 30px 20px;
    font-family: "Rubik", sans-serif;
    line-height: 1.8;
    text-align: left;
  }
  .about-pic img {
    max-width: 320px;
    width: 100%;
    max-height: 320px;
    border-radius: 10px;
    padding: 5px;
  }
  .line-break {
    padding: 10px 0;
  }
}
