.footer-dark {
  padding: 4rem 0;
  color: #f0f9ff;
  /* background-color: #282d32; */
  background-color: var(--dark-color);
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 1.4rem;
  margin-bottom: 0;
  font-family: var(--font-family-3);
  letter-spacing: 0.8px;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 2.4rem;
  opacity: 0.3;
  font-size: 1.3rem;
  margin-bottom: 0;
  letter-spacing: 0.4px;
}
.footer-container h3 {
  font-family: var(--font-family-1);
  letter-spacing: 1px;
  font-weight: 500;
}
.footer-contents {
  display: flex;
  justify-content: space-around;
}

.footer-address {
  padding: 0 10%;
  text-align: center;
  font-family: var(--font-family-2);
  letter-spacing: 0.8px;
}
.footer-address p {
  padding: 1rem 0;
}
.footer-container {
  margin-top: 5%;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.4rem;

  font-size: 1.3rem;
  margin-bottom: 0;
  letter-spacing: 0.4px;
}
.developer-title {
  opacity: 0.3;
}

.developer-name {
  padding-left: 0.8rem;
  transition: all 0.3s ease;
  opacity: 0.8;
}
.developer-name:hover {
  opacity: 1;
  transform: scale(1.1);
}

.developer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 568px) {
  .developer {
    flex-direction: row;
  }
}
