header {
  background: var(--primary-color);
  color: #fff;
}

header h1 {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--font-family-1);
  font-size: 2.4rem;
}

.clinic-logo {
  display: flex;
  align-self: center;
}

.clinic-name {
  display: flex;
  align-self: center;
}

.clinic-logo img {
  max-width: 100px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.contact {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-family-3);
  font-weight: 400;
}

.icons {
  margin-right: 1rem;
  font-size: 1.4rem;
}

/* * // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .icons {
    margin-right: 14px;
    font-size: 1.8rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .flex-center {
    display: flex;
    justify-content: space-around;
  }
  .clinic-logo img {
    max-width: 180px;
  }
  .contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons {
    font-size: 4rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
