header {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.header-container {
  margin: auto;
}

.clinic-logo {
  display: flex;
  align-self: center;
}
.clinic-logo img {
  max-width: 120px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}
.clinic-name {
  display: flex;
  align-self: center;
}
.clinic-name h3 {
  color: #4575bd;
}

/* --Contact --*/
.contact-inside-box {
  color: #4575bd;
}

.phone-num {
  color: #4575bd;
}

/* --Mobile First Version --*/

@media only screen and (max-width: 480px) {
  .clinic-logo img {
    max-width: 100px;
    width: 100%;
    border-radius: 50%;
  }
  .contact {
    text-align: center;
    padding-top: 10px;
  }
  .icons {
    margin-right: 14px;
    font-size: 1.4rem;
  }
}

/* --Tablet Version --*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact {
    text-align: center;
    padding-top: 10px;
  }

  .icons {
    margin-right: 14px;
    font-size: 1.8rem;
  }
}
/* --Laptop Version --*/
@media (min-width: 769px) {
  .header-container {
    display: flex;
    justify-content: space-around;
  }
  .clinic-logo img {
    max-width: 180px;
  }
  .contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons {
    margin-right: 14px;
    font-size: 2rem;
  }
}
