/*--Home--*/
.home {
  height: 95vh;
  background-image: url(/Images/bg-image.png);
  background-size: cover;
  background-repeat: none;
  position: relative;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.text-box {
  margin-bottom: 20px;
}
.text-main {
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 04px;
}
.btn-knw {
  padding: 1.2rem;
  text-transform: capitalize;
  color: #fff;
  font-family: var(--font-family-1);
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-knw:hover {
  color: var(--secondary-color);
  background: #fff;
}

.button-box {
  justify-content: flex-end;
}
/* --Tablet Version --*/

@media (min-width: 768px) {
  .text-box {
    margin-bottom: 20px;
    padding: 15% 12% 0;
  }
}

/* --Laptop Version --*/
@media (min-width: 992px) {
}
