.navbar {
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  padding: 0 2rem;
  font-weight: 500;
}

.navbar-brand img {
  max-height: 30px;
  border-radius: 10px;
}

.navbar-brand {
  visibility: hidden;
}

@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand {
    visibility: visible;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
