.services-info {
  text-align: center;
  padding: 60px 20px;
  font-family: var(--font-family-1);
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.services-list {
  text-align: center;
  font-family: var(--font-family-4);
}

.card-services {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 1rem;
  transition: all 0.3s ease;
}

.card-services:hover {
  transform: translateY(-15px);
}

.services-lists-items img {
  background-color: var(--primary-color);
  padding: 1rem;
}
.services-lists-items h4 {
  padding: 1rem;
}

/* Medium devices (Laptop) */
@media (min-width: 768px) {
  .services-list {
    padding-left: 15rem;
  }
}
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  .flex-center {
    display: flex;
    justify-content: space-around;
  }

} */
