/* functions */
@mixin flexSpacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* reset */
body,
a,
p,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

/* Defaults */

body {
  background-color: #ffffff;
}
.default {
  padding: 10px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.header-container {
  margin: auto;
  .clinic-logo {
    display: flex;
    align-self: center;
    img {
      max-width: 120px;
      width: 100%;
      display: block;
      border-radius: 50%;
    }
  }
  .clinic-name {
    display: flex;
    align-self: center;
    h3 {
      color: #4575bd;
    }
  }
}

/* --Contact --*/
.contact-inside-box {
  color: #4575bd;
}

.phone-num {
  color: #4575bd;
}

/* --Navigation --*/

.navbar-brand {
  visibility: hidden;
}
/* --Mobile First Version --*/

@media only screen and (max-width: 480px) {
  header {
    background-color: rgb(130, 180, 130);
    .clinic-logo img {
      max-width: 100px;
      width: 100%;
      border-radius: 50%;
    }
    .contact {
      text-align: center;
      padding-top: 10px;
    }
    .icons {
      margin-right: 14px;
      font-size: 1.4rem;
    }
  }
}

/* --Tablet Version --*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    // background-color: rgb(121, 122, 219);
    .contact {
      text-align: center;
      padding-top: 10px;
    }
  }
  .icons {
    margin-right: 14px;
    font-size: 1.8rem;
  }
}

/* --Laptop Version --*/
@media (min-width: 769px) {
  header {
    // background-color: rgb(206, 93, 162);
  }
  .header-container {
    display: flex;
    justify-content: space-around;
  }
  .clinic-logo img {
    max-width: 180px;
  }
  .contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons {
    margin-right: 14px;
    font-size: 2rem;
  }
}
